:host {
  display: flex;
  flex: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.game {
  display: block;
  width: 100vh;
  height: 100vh;
}

.add-block {
  padding: 50px;
  background: #fff;
  box-shadow: 0px 0px 20px #ddd;
  border: none;
}
