.block {
  z-index: 500;
  position: absolute;
  transition: 0.25s;
}

.cdk-drag-dragging {
  opacity: 0;
}

.block::before {
  z-index: 499;
  position: absolute;
  background-color: currentColor;
  height: 100%;
  width: 100%;
  transition: 0.25s;
  content: '';
}

.block.cdk-drag-dragging::before {
  opacity: 0.5 !important;
}

.block:hover::before {
  transform: scale(1.1);
}

.block-shadow {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  transition: 0.25s;
}
